<h2>Currency converter</h2>

<div class="currency-border">
<div class="input-group">
  <input type="number" class="input-style" aria-label="Text input with dropdown button" placeholder="write value">
  <div class="input-group-append">
    <select class=" btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <option selected>Choose...</option>
      <option value="1">EU</option>
      <option value="2">BLR</option>
      <option value="3">USD</option>
    </select>
  </div>


<div class="equel"></div>

<div>
  <div class="input-group-append">
    <select class=" btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <option selected>Choose...</option>
      <option value="1">EU</option>
      <option value="2">BLR</option>
      <option value="3">USD</option>
    </select>
    <div class="input-group">
      <input type="number" class="input-style" aria-label="Text input with dropdown button" placeholder="write value">
</div>


