
h2 {
    max-width: 500px;
    margin: 50px auto;
    margin-right:400px;
}

.currency-border {
margin: 100px auto;
justify-content: center;
text-justify: center;
max-width: 800px;
margin-right:200px;
}

.input-style{
    max-width: 150px;
}

.equel {
    height: 10px;
    width: 22px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    display: inline-block;
    margin: 10px 10px 0 10px;
}