
h2 {
height: 5em;
display: flex;
align-items: center;
justify-content: center
}

.currency-border {
height: 10em;
display: flex;
align-items: center;
justify-content: center
}

.input-style{
max-width: 150px;
}

.equal {
height: 10px;
width: 22px;
border-top: 1px solid #dadada;
border-bottom: 1px solid #dadada;
display: inline-block;
margin: 10px 10px 0 10px;
}