<h2>Currency converter</h2>
<div class="currency-border">

  <form [formGroup]="currencyForm">
    <div class="input-group">
      <input type="number" class="input-style" aria-label="Text input with dropdown button" placeholder="write value"
        formControlName="firstInput">
      <div class="input-group-append">
        <select class=" btn-outline-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false"
          formControlName="firstDropdown">
          <option selected>Choose...</option>
          <option *ngFor="let currency of currencies" [value]="currency.CcyAmt.Amt">{{currency.CcyAmt.Ccy}}</option>
        </select>
      </div>
      <div class="equal">
      </div>
      <div class="input-group-append">
        <select class=" btn-outline-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false"
          formControlName="secondDropdown">
          <option selected>Choose...</option>
          <option *ngFor="let currency of currencies" [value]="currency.CcyAmt.Amt">{{currency.CcyAmt.Ccy}}</option>
        </select>
        <div class="input-group">
          <input type="number" class="input-style" aria-label="Text input with dropdown button"
            placeholder="write value" formControlName="secondInput">
        </div>
      </div>
    </div>
  </form>
</div>